@charset "UTF-8";
/*********************************************************/
.view {
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  width: 90vw;
  min-width: 24em;
  margin: auto;
  position: relative;
}

.view .ag-theme-alpine .ag-root-wrapper {
  border: 0;
}

.filter, .openDetail {
  color: #A8C7C7;
}

.ag-header-row {
  color: #647384;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.ag-header-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ag-header-cell[aria-sort='ascending'] .customSortDownLabel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ag-header-cell[aria-sort='ascending'] .customSortUpLabel.inactive {
  display: none;
}

.ag-header-cell[aria-sort='descending'] .customSortDownLabel.inactive {
  display: none;
}

.ag-header-cell[aria-sort='descending'] .customSortUpLabel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ag-header-cell:hover .headerLabel.r .filter,
.ag-header-cell:hover .headerLabel.r .openDetail {
  visibility: visible;
}

.ag-header-cell .headerLabel.r .filter,
.ag-header-cell .headerLabel.r .openDetail {
  visibility: hidden;
}

.ag-header-cell.ag-column-menu-visible .headerLabel.r .filter,
.ag-header-cell.ag-header-active .headerLabel.r .filter:active,
.ag-header-cell.ag-column-menu-visible .headerLabel.r .openDetail,
.ag-header-cell.ag-header-active .headerLabel.r .openDetail:active {
  visibility: visible;
}

.headerLabel.r div:not(:last-child) {
  margin-right: .25rem;
}

.headerLabel.l div:not(:first-child) {
  margin-right: .25rem;
}

.ag-theme-alpine .ag-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
}

.ag-theme-alpine .ag-cell, .ag-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.ag-theme-alpine .ag-ltr .ag-cell {
  border-right-width: 0;
}

.ag-pinned-left-cols-container .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height {
  line-height: 60px;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-cell.ag-cell-wrap-text,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  padding-left: 10px;
  padding-right: 10px;
}

.ag-theme-alpine .ag-row > .ag-cell-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.ag-pinned-left-cols-container .ag-cell-wrapper {
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ag-theme-alpine .ag-header-cell:after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 1px;
  right: 0;
}

.ag-theme-alpine .ag-pinned-left-header .ag-header-cell:last-child:after {
  display: none;
}

.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: 25px;
  /**/
}

.ag-cell-wrapper,
.ag-theme-alpine .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headerTitleCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.headerTitleCell .headerLabel.l, .headerTitleCell .headerLabel.r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerTitleCell .headerLabel .customHeaderLabel {
  color: #647384;
  margin-right: 0.25rem;
}

.headerTitleCell .headerLabel .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ag-theme-alpine .ag-header {
  background-color: #f1f1f1;
  border-bottom: solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
}

.customSortDownLabel,
.customSortUpLabel {
  color: #A8C7C7;
}

.ag-theme-alpine .ag-pinned-left-header,
.ag-theme-alpine .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
  border-right: 1px solid;
}

.ag-pinned-left-cols-container .ag-row-hover .ag-cell:first-child {
  border-left: 3px solid;
}

.ag-header-cell:hover {
  cursor: auto;
}

.ag-header-cell:hover .ag-header-cell-sortable:visited,
.ag-header-cell:hover .ag-header-cell-sortable,
.ag-header-cell-sortable:active,
.ag-header-cell-sortable:focus {
  cursor: pointer;
}

button.expand,
button.splitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: inherit;
  cursor: pointer;
  border: 0;
}

button.expand svg {
  width: 24px;
  height: 21px;
  fill: #647384;
}

button.expand:hover svg,
button.expand.active svg {
  fill: #0094ff;
}

button.splitter {
  z-index: 2;
  color: #74bcbc;
  font-size: 2rem;
}

button.splitter i.fa-caret-left {
  position: absolute;
  top: 128px;
  left: 588px;
}

button.splitter i.fa-caret-right {
  position: absolute;
  top: 128px;
  left: 190px;
}

button.expand .messageE,
button.expand .messageC,
button.splitter i .message {
  display: none;
}

button.expand:hover.open svg + .messageE,
button.expand:hover.close svg + .messageE + .messageC,
button.splitter:hover i .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #ffffff;
  font-size: 0.25rem;
  background: #000;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 3;
}

button.splitter:hover i .message {
  left: -18px;
}

button.expand:hover svg + .messageE,
button.expand:hover.close svg + .messageE + .messageC {
  top: 24px;
  left: 5px;
}

button.expand:hover.open svg + .messageE:before,
button.expand:hover.close svg + .messageE + .messageC:before,
button.splitter:hover i .message:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  content: "";
  border: solid transparent;
  border-bottom-color: #000;
  border-width: 5px;
}

button.expand:hover.open svg + .messageE:before,
button.expand:hover.close svg + .messageE + .messageC:before {
  left: 33%;
}

button.splitter i .messageV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 224px;
  /*要修*/
  background: #74bcbc;
  position: absolute;
  top: -77px;
  /*要修*/
  left: -31px;
  direction: ltr;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

i.fa.fa-caret-right:after,
i.fa.fa-caret-left:after {
  content: "";
  width: 10px;
  height: 240px;
  position: absolute;
  background: #96b5ca52;
  top: -77px;
  left: 0;
}

.ag-cell-wrapper .has-delay {
  color: red;
}

.has-ac-date {
  border: 1px solid red;
}

.has-empty {
  border: 1px solid #d8d8d8;
  background: #fff;
  height: 27px;
}

.ag-theme-alpine .ag-ltr .ag-cell-focus:focus,
.ag-theme-alpine .ag-ltr .ag-cell:focus,
.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
  background-color: #c2d8d6;
  border: none;
}

.ag-cell-wrapper .cell {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.ag-cell-wrapper .cell .cellDate {
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 94px;
}

.ag-cell-wrapper .cell .cellDate .planDate {
  padding: 0 0.5rem;
  min-width: 94px;
}

.ag-cell-wrapper .cell .cellDetailSwitch {
  opacity: 0;
}

.ag-row-hover .ag-cell-wrapper .cell .cellDetailSwitch,
.ag-cell-focus .ag-cell-wrapper .cell .cellDetailSwitch {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  margin-left: .5rem;
}

.ag-full-width-container .ag-row {
  background-color: #c2d8d6;
  z-index: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.full-width-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.full-width-cell .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-width-cell .cell .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.5rem;
}

.full-width-cell .cell .date label {
  font-size: .25rem;
  font-weight: bolder;
}

.full-width-cell .cell .date input {
  border: none;
  -webkit-box-shadow: 2px 2px 3px #ccdbe8 inset, -1px -1px 2px #ffffff80 inset;
          box-shadow: 2px 2px 3px #ccdbe8 inset, -1px -1px 2px #ffffff80 inset;
  padding: 0.25rem;
}

.full-width-cell .cell .date input:focus {
  outline: none;
  border: 2px solid;
}

.full-width-cell .cell .date input:-moz-read-only {
  background-color: #e5e5e5;
  color: #6c757d;
  box-shadow: none;
}

.full-width-cell .cell .date input:read-only {
  background-color: #e5e5e5;
  color: #6c757d;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.full-width-cell .cell button {
  border-radius: 0.25rem;
  border: 0;
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 3px #0000001a, 0px 1px 2px #0000000f;
          box-shadow: 0px 2px 3px #0000001a, 0px 1px 2px #0000000f;
}

.full-width-cell .cell button.cancel {
  background-color: red;
}

.table2nd {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: inherit;
  background: #fff;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.table2nd .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table2nd .title [aria-label="breadcrumb"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem;
}

.table2nd .title [aria-label="breadcrumb"]:hover {
  cursor: pointer;
}

.table2nd .title button {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: #A8C7C7;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table2nd .title button:hover {
  color: #0094ff;
}

.table2nd .table {
  width: inherit;
  height: inherit;
  -webkit-box-shadow: 0px 0.0625em 0.0625em #00000040 ,  0px 0.125em 0.5em #00000040, 0px 0px 0px 1px  #ffffff1a inset;
          box-shadow: 0px 0.0625em 0.0625em #00000040 ,  0px 0.125em 0.5em #00000040, 0px 0px 0px 1px  #ffffff1a inset;
}

.my-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown {
  border: 0;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown.p-inputwrapper-focus, .my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown:hover, .my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown:click, .my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown:focus, .my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown:not(.p-disabled):hover {
  outline: none;
  color: #0094ff;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-header .p-datepicker-title .p-dropdown.month {
  font-size: 1rem;
  color: #747978;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar thead tr th {
  width: 2.5rem;
  height: 2rem;
  line-height: 2.5rem;
  font-size: .25rem;
  color: #4b6289;
  margin: 0 0.15rem;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar tbody tr td {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: color, background 0.2s ease-in-out;
  transition: color, background 0.2s ease-in-out;
  border-radius: 12px;
  margin: 0.25rem 0.15rem;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar tbody tr td:not(.day-empty):not(.day-active):not(.has-delay):hover {
  color: #7bc4db;
  background: rgba(0, 0, 0, 0.05);
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar tbody tr td.day-active {
  color: #fff;
  background: #7bc4db;
}

.my-calendar .p-datepicker-group-container .p-datepicker-group .p-datepicker-calendar-container table.p-datepicker-calendar tbody tr td.day-active.has-delay {
  color: #f04;
}

tbody td.day-active.has-today::before {
  background: #059346;
}

tbody td.day-empty {
  cursor: initial;
}

.has-today:before {
  content: "";
  position: absolute;
  display: block;
  top: 0.4rem;
  left: 0.4rem;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
  background: #52b67a;
}

tbody td.has-delay:not(.day-active) {
  background: rgba(255, 0, 0, 0.1);
  color: #f04;
}

/**                   20220420                */
@-webkit-keyframes moveToR {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes moveToR {
  0% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto"), url(../styles/fonts/Roboto.woff) format("woff"), url(../styles/fonts/Roboto.woff2) format("woff2"), url(../styles/fonts/Roboto.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

/*----------------------- body------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif !important;
  line-height: 1;
}

html body img {
  max-width: 100%;
}

html body ol, html body ul, html body dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

html body a, html body button, html body a:hover {
  outline: 0;
  cursor: pointer;
}

html body [tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.noti-dot {
  position: absolute;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: bolder;
  color: #fff;
  background-color: #c8553d;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------------蓋掉用  cover start --------------*/
:root {
  --font-family-sans-serif:"Roboto", sans-serif !important;
  --font-family-monospace:"Roboto", sans-serif !important;
  --font-family:"Roboto", sans-serif !important;
}

.p-component,
.p-inputtext {
  font-family: "Roboto", sans-serif !important;
}

.p-multiselect-label-container {
  min-width: 12rem;
}

/* cover end */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #487070;
}

.wrapper .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 44px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #487070;
  padding: 1rem 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 999;
}

.wrapper .sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sidebar .logo a.logo {
  height: 3vh;
  font-size: 0.5rem;
  font-weight: bolder;
  color: #b8cbe0;
  text-decoration: none;
}

.wrapper .sidebar .logo a.logo span {
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sidebar ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-top: 1.5rem;
}

.wrapper .sidebar ul.nav li {
  width: 100%;
  min-height: 44px;
  margin: 0.25rem 0;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .sidebar ul.nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 44px;
  height: 100%;
  text-decoration: none;
  padding: 0 1rem 0 0.5rem;
  position: relative;
  z-index: 2;
  color: #fff;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

.wrapper .sidebar ul.nav li a svg {
  overflow: visible;
  width: 1.75rem;
  height: 1.75rem;
  fill: #fff;
  display: block;
  font-size: 1rem;
  line-height: 0.75;
}

.wrapper .sidebar ul.nav li a span {
  font-size: 0.875rem;
  margin-left: 0.5rem;
  visibility: visible;
  color: #487070;
  white-space: nowrap;
  line-height: 1;
  font-weight: 700;
  display: none;
}

.wrapper .sidebar ul.nav li a:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  background: #f8f9fa;
  -webkit-animation: moveToR .4s ease-in-out;
          animation: moveToR .4s ease-in-out;
}

.wrapper .sidebar ul.nav li a:active, .wrapper .sidebar ul.nav li a.active, .wrapper .sidebar ul.nav li a:hover {
  background-color: #f8f9fa;
}

.wrapper .sidebar ul.nav li a:active svg, .wrapper .sidebar ul.nav li a.active svg, .wrapper .sidebar ul.nav li a:hover svg {
  fill: #487070;
}

.wrapper .sidebar ul.nav li a:active:before, .wrapper .sidebar ul.nav li a:active a.active:hover:before, .wrapper .sidebar ul.nav li a.active:before, .wrapper .sidebar ul.nav li a.active a.active:hover:before, .wrapper .sidebar ul.nav li a:hover:before, .wrapper .sidebar ul.nav li a:hover a.active:hover:before {
  background: radial-gradient(circle at top left, transparent 20px, #707070 0) top left, radial-gradient(circle at top right, transparent 0, #707070 0) top right, radial-gradient(circle at bottom right, transparent 0, #707070 0) bottom right, radial-gradient(circle at bottom left, transparent 0, #707070 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.wrapper .sidebar ul.nav li a:active:after, .wrapper .sidebar ul.nav li a:active a.active:hover:after, .wrapper .sidebar ul.nav li a.active:after, .wrapper .sidebar ul.nav li a.active a.active:hover:after, .wrapper .sidebar ul.nav li a:hover:after, .wrapper .sidebar ul.nav li a:hover a.active:hover:after {
  background: radial-gradient(circle at top left, transparent 0, #707070 0) top left, radial-gradient(circle at top right, transparent 0, #707070 0) top right, radial-gradient(circle at bottom right, transparent 0, #707070 0) bottom right, radial-gradient(circle at bottom left, transparent 20px, #707070 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.wrapper .sidebar ul.nav li a a:hover:before,
.wrapper .sidebar ul.nav li a a:active:before,
.wrapper .sidebar ul.nav li a a:active:before,
.wrapper .sidebar ul.nav li a a.active:hover:before {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  width: 40px;
  height: 44px;
  margin-top: -20px;
  margin-right: -20px;
  z-index: -1;
}

.wrapper .sidebar ul.nav li a a:hover:after,
.wrapper .sidebar ul.nav li a a:active:after,
.wrapper .sidebar ul.nav li a a:active:after,
.wrapper .sidebar ul.nav li a a.active:hover:after {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  width: 40px;
  height: 44px;
  margin-top: 20px;
  margin-right: -20px;
  z-index: -1;
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 44px);
  background: #f8f9fa;
  border-radius: 20px 0 0 0;
  margin-top: 3px;
  -webkit-box-shadow: #c1d8d8 3px 3px 6px 0px inset, #d4d4d4 -3px -3px 6px 1px inset;
          box-shadow: #c1d8d8 3px 3px 6px 0px inset, #d4d4d4 -3px -3px 6px 1px inset;
  overflow-y: auto;
}

.wrapper .content .header {
  display: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: inherit;
  height: 7vh;
  padding: 1.5rem 0.5rem 1.5rem 2rem;
  -webkit-box-shadow: 0 0 4px #404040;
          box-shadow: 0 0 4px #404040;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  z-index: 99;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(1%, #f8f9fa));
  background: linear-gradient(to right, transparent 0%, #f8f9fa 1%);
  border-top-left-radius: 22px;
}

.wrapper .content .header.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: inherit;
}

.wrapper .content .header.active + .headerSwitch {
  -webkit-transform: scale(1.23) rotate(180deg);
          transform: scale(1.23) rotate(180deg);
}

.wrapper .content .header.active + .headerSwitch.menu_part {
  height: 2px;
}

.wrapper .content .header.active + .headerSwitch.menu_part::nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 14px;
  top: calc( 50% - 2px);
}

.wrapper .content .header.active + .headerSwitch.menu_part::nth-of-type(2) {
  left: -3px;
  opacity: 0;
}

.wrapper .content .header.active + .headerSwitch.menu_part::nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 14px;
  top: calc( 50% - 2px);
}

.wrapper .content .header .fabSelect .p-dropdown {
  border: 2px solid #f9fbfb;
  border-radius: .6rem;
}

.wrapper .content .header .fabSelect .p-float-label {
  line-height: 1;
}

.wrapper .content .header .fabSelect .p-inputext {
  font-size: 0.75rem;
}

.wrapper .content .header .topMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  height: inherit;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wrapper .content .header .topMenu li {
  padding: 0.25rem 0.5rem;
}

.wrapper .content .header .topMenu li a, .wrapper .content .header .topMenu li a:not([href]):not([class]) {
  color: #487070;
}

.wrapper .content .header .topMenu li a.bell, .wrapper .content .header .topMenu li a:not([href]):not([class]).bell {
  position: relative;
}

.wrapper .content .header .topMenu li a .noti-dot, .wrapper .content .header .topMenu li a:not([href]):not([class]) .noti-dot {
  top: -10px;
  right: -12px;
  min-width: 0.9rem;
  max-width: 1.3rem;
}

.wrapper .content .headerSwitch {
  display: block;
  position: absolute;
  width: 20px;
  height: 44px;
  line-height: 1;
  text-align: center;
  color: #487070;
  left: 44px;
  z-index: 999;
  border-style: none;
  border-top-left-radius: 21px;
  background: none;
  overflow: hidden;
  text-shadow: 2px 2px 2px #333333;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
  cursor: pointer;
}

.wrapper .content .headerSwitch .menu_part {
  width: 4px;
  height: 4px;
  position: absolute;
  background: #487070;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0.25rem;
  -webkit-transition: all 0.55s cubic-bezier(0.4, 0.1, 0.4, 0.8);
  transition: all 0.55s cubic-bezier(0.4, 0.1, 0.4, 0.8);
}

.wrapper .content .headerSwitch .menu_part:nth-of-type(1) {
  top: calc( 50% - 8px + -2px);
}

.wrapper .content .headerSwitch .menu_part:nth-of-type(2) {
  top: calc( 50% - 8px + 4px);
}

.wrapper .content .headerSwitch .menu_part:nth-of-type(3) {
  top: calc( 50% - 8px + 10px);
}

.wrapper .content .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem 1rem 1.5rem;
  width: 100%;
}

.wrapper .content .main .cardGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.wrapper .content .main .cardGroup .card {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0 1px 5px 0 #141414;
          box-shadow: 0 1px 5px 0 #141414;
  border: none;
  position: unset;
  /*cover*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper .content .main .cardGroup .card legend {
  display: block;
  position: relative;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #495057;
  margin-bottom: 2rem;
}

.wrapper .content .main .cardGroup .card legend:after {
  display: block;
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2px;
  margin-top: 0.25rem;
}

.wrapper .content .main .cardGroup .card .switchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch {
  width: 3.75rem;
  height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch .p-inputswitch-checked .p-inputswitch-slider {
  -webkit-box-shadow: #262626 0 1px 2px inset, #333333 0 0 3px inset;
          box-shadow: #262626 0 1px 2px inset, #333333 0 0 3px inset;
  background: #487070;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch .p-inputswitch-checked .p-inputswitch-slider:after {
  position: absolute;
  color: #fff;
  text-shadow: #333333 0 1px;
  top: 27%;
  font-size: 0.25rem;
  content: "ON";
  left: calc(1.25rem - 10px);
  right: unset;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch .p-inputswitch-checked .p-inputswitch-slider:before {
  left: calc(1.25rem - 4px);
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch .p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: #304b4b;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch .p-inputswitch-slider:before {
  left: 0.25rem;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch .p-inputswitch-slider:after {
  position: absolute;
  color: #fff;
  text-shadow: #333333 0 1px;
  top: 27%;
  font-size: 0.25rem;
  content: "OFF";
  left: calc(1.25rem + 10px);
  color: #495057;
  text-shadow: 0 1px white;
}

.wrapper .content .main .cardGroup .card .switchBox .p-inputswitch + label {
  margin-bottom: 0;
}

.wrapper .content .main .cardGroup .card .dropdownList {
  margin-bottom: 1.5rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.wrapper .content .main .cardGroup .card .dropdownList.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content .main .cardGroup .card .dropdownList.vertical .dropdown, .wrapper .content .main .cardGroup .card .dropdownList.vertical .dropdownMultiple {
  margin: 0 1.5rem 1.5rem 0;
}

.wrapper .content .main .cardGroup .card .dropdownList.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .content .main .cardGroup .card .dropdownList.horizontal .dropdown, .wrapper .content .main .cardGroup .card .dropdownList.horizontal .dropdownMultiple {
  margin: 0 1.5rem 0.5rem 0;
}

.wrapper .content .main .cardGroup .card .selectedQty {
  font-size: 0.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #b3b3b3;
}

.wrapper .content .main .cardGroup .card .show-tool-selected {
  padding: 0.25rem;
  border: 1.5px solid #f9fbfb;
  border-radius: 0.25rem;
  height: 93px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .content .main .cardGroup .card .show-tool-selected .tool-selected {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.wrapper .content .main .cardGroup .card .show-tool-selected .tool-selected span {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .content .main .cardGroup .card .show-tool-selected .tool-selected button {
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 0.25rem;
}

.wrapper .content .main .cardGroup .card .show-tool-selected .tool-selected button svg.MuiSvgIcon-root {
  fill: #487070;
  width: 1.25rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
}

.wrapper .content .main .cardGroup .card .box {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper .content .main .cardGroup .card .box.horizontal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .content .main .cardGroup .card .box.horizontal.alignR {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .content .main .cardGroup .card .box .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.wrapper .content .main .cardGroup .card .box .left input.rename {
  font-size: 1.25rem;
  line-height: 2;
  border: 0;
  outline: 0;
  -webkit-text-decoration: 0.15rem solid underline;
          text-decoration: 0.15rem solid underline;
  text-underline-offset: 9px;
  -webkit-text-decoration-color: #487070;
          text-decoration-color: #487070;
  background: -webkit-gradient(linear, left top, left bottom, from(#487070), to(#487070)) left bottom 0 no-repeat;
  background: linear-gradient(#487070, #487070) left bottom 0 no-repeat;
  background-size: 15rem 0.15rem;
  padding: 0;
  min-width: 15rem;
}

.wrapper .content .main .cardGroup .card .box .left input.rename:focus {
  -webkit-text-decoration-color: #304b4b;
          text-decoration-color: #304b4b;
}

.wrapper .content .main .cardGroup .card .classSelect {
  margin-top: 0.5rem;
}

.wrapper .content .main .cardGroup .card .classSelect .dropdownList {
  margin-bottom: 0;
}

.wrapper .content .main .cardGroup .card .classSelect .dropdownList.vertical .dropdown {
  margin: 1rem 0 0.5rem 0;
}

.wrapper .content .main .dropdown.size-sm {
  margin-right: 1rem;
}

.wrapper .content .main .dropdown.size-sm .p-multiselect-label-container {
  height: 34px;
}

[data-tooltip]:before, [data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[data-tooltip]:before {
  position: absolute;
  bottom: -104%;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 0.75rem;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

[data-tooltip]:after {
  position: absolute;
  bottom: -23%;
  width: 0;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  font-size: 0;
  line-height: 0;
}

.buttonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.buttonGroup.size-m {
  padding: 1rem 0;
  border-top: 1px solid #e9ecef;
}

.buttonGroup.size-sm {
  padding: 0;
  border-top: 0;
}

.buttonGroup button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 0;
  -webkit-box-shadow: 0px 1px 3px #333333, 1px 2px 2px white inset;
          box-shadow: 0px 1px 3px #333333, 1px 2px 2px white inset;
  color: #fff;
}

.buttonGroup button.info.size-m {
  background: -webkit-gradient(linear, right top, left top, from(#487070), to(#345151));
  background: linear-gradient(to left, #487070, #345151);
}

.buttonGroup button.info.size-sm {
  background: #487070;
}

.buttonGroup button.danger.size-m {
  background: -webkit-gradient(linear, right top, left top, from(#c8553d), to(#a4432e));
  background: linear-gradient(to left, #c8553d, #a4432e);
}

.buttonGroup button.danger.size-sm {
  background: #c8553d;
}

.buttonGroup button.warning.size-m {
  background: -webkit-gradient(linear, right top, left top, from(#cc8925), to(#a16c1d));
  background: linear-gradient(to left, #cc8925, #a16c1d);
}

.buttonGroup button.warning.size-sm {
  background: #cc8925;
}

.buttonGroup button.success.size-m {
  background: -webkit-gradient(linear, right top, left top, from(#588b8b), to(#446c6c));
  background: linear-gradient(to left, #588b8b, #446c6c);
}

.buttonGroup button.success.size-sm {
  background: #588b8b;
}

.buttonGroup button.size-m {
  padding: 0.1rem 1rem;
  min-width: 7vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  border-radius: 0.5rem;
  margin-right: 1.5rem;
}

@media screen and (device-aspect-ratio: 16 / 9) and (min-width: 1300px) {
  .buttonGroup button.size-m {
    padding: 0.25rem 1rem;
    min-width: 5vw;
  }
}

.buttonGroup button.size-m.move {
  background-size: 200% 100%;
  background-position: 100% 100%;
  -webkit-transition: background-position .5s ease-out;
  transition: background-position .5s ease-out;
}

.buttonGroup button.size-m i {
  font-size: 1rem;
}

@media screen and (device-aspect-ratio: 16 / 9) and (min-width: 1300px) {
  .buttonGroup button.size-m i {
    font-size: 1.4rem;
  }
}

.buttonGroup button.size-m span {
  display: none;
  font-size: 1rem;
}

.buttonGroup button.size-sm {
  padding: 0.5rem;
  width: 36px;
  height: 32px;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

.buttonGroup button.size-sm i {
  font-size: 0.5rem;
}

.buttonGroup button.size-xs svg.btn-icon, .buttonGroup button.size-sm svg.btn-icon, .buttonGroup button.size-m svg.btn-icon, .buttonGroup button.size-semi svg.btn-icon, .buttonGroup button.size-md svg.btn-icon, .buttonGroup button.size-l svg.btn-icon {
  fill: #fff;
  display: block;
  line-height: 0.75;
  overflow: visible;
}

.buttonGroup button.size-xs svg.btn-icon {
  width: 0.5rem;
  height: 0.5rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-xs svg.btn-icon {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.buttonGroup button.size-xs:hover svg.btn-icon {
  width: 0.25rem;
  height: 0.25rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-xs:hover svg.btn-icon {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.buttonGroup button.size-xs:last-child {
  margin-right: 0;
}

.buttonGroup button.size-sm svg.btn-icon {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-sm svg.btn-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.buttonGroup button.size-sm:hover svg.btn-icon {
  width: 0.75rem;
  height: 0.75rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-sm:hover svg.btn-icon {
    width: 1rem;
    height: 1rem;
  }
}

.buttonGroup button.size-sm:last-child {
  margin-right: 0;
}

.buttonGroup button.size-m svg.btn-icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-m svg.btn-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.buttonGroup button.size-m:hover svg.btn-icon {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-m:hover svg.btn-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.buttonGroup button.size-m:last-child {
  margin-right: 0;
}

.buttonGroup button.size-semi svg.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-semi svg.btn-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.buttonGroup button.size-semi:hover svg.btn-icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-semi:hover svg.btn-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.buttonGroup button.size-semi:last-child {
  margin-right: 0;
}

.buttonGroup button.size-md svg.btn-icon {
  width: 1.75rem;
  height: 1.75rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-md svg.btn-icon {
    width: 2rem;
    height: 2rem;
  }
}

.buttonGroup button.size-md:hover svg.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-md:hover svg.btn-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.buttonGroup button.size-md:last-child {
  margin-right: 0;
}

.buttonGroup button.size-l svg.btn-icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-l svg.btn-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.buttonGroup button.size-l:hover svg.btn-icon {
  width: 1.75rem;
  height: 1.75rem;
}

@media (min-width: 1300px) {
  .buttonGroup button.size-l:hover svg.btn-icon {
    width: 2rem;
    height: 2rem;
  }
}

.buttonGroup button.size-l:last-child {
  margin-right: 0;
}

.buttonGroup button:hover .size-m {
  background-position: 0 100%;
}

.buttonGroup button:hover .size-m.move {
  background-position: 0 0;
}

.buttonGroup button:hover .size-m span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0.5rem;
}

.buttonGroup button:hover .size-m i {
  font-size: 0.5rem;
}

@media (min-width: 1300px) {
  .buttonGroup button:hover .size-m i {
    font-size: 1.2rem;
  }
}

.buttonGroup button i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rateSlider .boxslider {
  margin: 0 auto;
}

#rateSlider .boxslider .swiper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  padding: 0 1.5rem;
  width: auto;
  overflow: hidden;
  /* Arrows */
}

#rateSlider .boxslider .swiper div[class^='swiper-button'] {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

#rateSlider .boxslider .swiper div[class^='swiper-button']:hover, #rateSlider .boxslider .swiper div[class^='swiper-button']:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

#rateSlider .boxslider .swiper div[class^='swiper-button']:hover:before, #rateSlider .boxslider .swiper div[class^='swiper-button']:focus:before {
  opacity: 1;
}

#rateSlider .boxslider .swiper div[class^='swiper-button'].swiper-button-disabled:before {
  opacity: 0.35;
}

#rateSlider .boxslider .swiper div[class^='swiper-button']:before {
  font-family: 'Font Awesome 5';
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1;
  color: #487070;
  opacity: 0.75;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

#rateSlider .boxslider .swiper div[class^='swiper-button']-prev {
  left: 0;
  right: auto;
}

#rateSlider .boxslider .swiper div[class^='swiper-button']-prev:before {
  content: "\f100";
}

#rateSlider .boxslider .swiper div[class^='swiper-button']-next {
  right: 0;
  left: auto;
}

#rateSlider .boxslider .swiper div[class^='swiper-button']-next:before {
  content: "\f101";
}

#rateSlider .boxslider .swiper [dir="rtl"] .swiper-button-prev,
#rateSlider .boxslider .swiper .swiper-rtl .swiper-button-prev {
  left: auto;
  right: 0;
}

#rateSlider .boxslider .swiper [dir="rtl"] .swiper-button-prev:before {
  content: "\f100";
}

#rateSlider .boxslider .swiper [dir="rtl"] .swiper-button-next,
#rateSlider .boxslider .swiper .swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
}

#rateSlider .boxslider .swiper [dir="rtl"] .swiper-button-next:before {
  content: "\f101";
}

#rateSlider .boxslider .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#rateSlider .boxslider .swiper .swiper-wrapper:focus {
  outline: none;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card {
  position: relative;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #d4d4d4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card:hover {
  cursor: pointer;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .step {
  font-size: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .step span:first-child {
  font-size: 0.5rem;
  color: #adb5bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.25rem;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .step .stepName {
  text-transform: uppercase;
  color: #495057;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .completionRate {
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.5rem;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .completionRate span:first-child {
  font-size: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  max-width: 5rem;
  overflow: hidden;
  margin-right: 1rem;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .progressbar.p-slider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.286rem;
  background: #d4d4d4;
  border: 0;
  border-radius: 0 0 0.25rem 0.25rem;
}

#rateSlider .boxslider .swiper .swiper-wrapper .swiper-slide .card .progressbar.p-slider .p-slider-range {
  background: #4dc06f;
  height: 100%;
  position: absolute;
  display: block;
}
