
// slider menu hover,active bg

@mixin a($before-or-after,$hoverName,$activeName,$focusName,$classActive,$top-or-bottom,$marginH,$left-or-right,$marginV,$width,$height){
  a:#{$hoverName}:#{$before-or-after},
  a:#{$activeName}:#{$before-or-after},
  a:#{$focusName}:#{$before-or-after},
  a:#{$classActive}:#{$before-or-after}{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:$width;
    height:$height;
    margin-#{$top-or-bottom}:$marginV;
    margin-#{$left-or-right}:$marginH;
  }
}


// background image

@mixin radial-gradient($shape,$color02, $color03,$position01,$position02,$position03,$position04,$bw01,$bw02,$bw03,$bw04){
  background:
    radial-gradient($shape at $position01 $position04, transparent $bw01, $color02 0) $position01 $position04,
    radial-gradient($shape at $position01 $position02, transparent $bw02, $color03 0) $position01 $position02,
    radial-gradient($shape at $position03 $position02, transparent $bw03, $color03 0) $position03 $position02,
    radial-gradient($shape at $position03 $position04, transparent $bw04, $color03 0) $position03 $position04,
  background-size:50% 50%;
  background-repeat:no-repeat;
}


@mixin keyframs($animation-name){
  @keyframs($animation-name){
    @content;
  }
}
@mixin animation($str){
  animation: #{$str};
}
@include keyframs(moveToR){
  0%{
    transform-origin: 100% 50%;
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0%);
  }
}

//dropdown
@mixin flexbox($position){
  display:flex;
  flex-wrap:wrap;
  @if $position == 'vertical'{
    flex-direction:column;
  }
  @else if $position == 'horizontal'{
    flex-direction:row;
  }
}
