// @import 'variables';
// @import 'mixins';
// @import 'breakpoints';

// @import 'fonts/';
// @import 'fonts/fontawesome-free-5.15.4-web/scss/fontawesome.scss';
// @import 'fonts/fontawesome-free-5.15.4-web/scss/solid.scss';



// slider menu hover,active bg

@mixin a($before-or-after,$hoverName,$activeName,$focusName,$classActive,$top-or-bottom,$marginH,$left-or-right,$marginV,$width,$height){
    a:#{$hoverName}:#{$before-or-after},
    a:#{$activeName}:#{$before-or-after},
    a:#{$focusName}:#{$before-or-after},
    a:#{$classActive}:#{$before-or-after}{
      content:"";
      position:absolute;
      top:0;
      right:0;
      width:$width;
      height:$height;
      margin-#{$top-or-bottom}:$marginV;
      margin-#{$left-or-right}:$marginH;
    }
  }
  
  
  // background image
  @mixin radial-gradient($shape,$color02, $color03,$position01,$position02,$position03,$position04,$bw01,$bw02,$bw03,$bw04){
    background:
      radial-gradient($shape at $position01 $position04, transparent $bw01, $color02 0) $position01 $position04,
      radial-gradient($shape at $position01 $position02, transparent $bw02, $color03 0) $position01 $position02,
      radial-gradient($shape at $position03 $position02, transparent $bw03, $color03 0) $position03 $position02,
      radial-gradient($shape at $position03 $position04, transparent $bw04, $color03 0) $position03 $position04;
    background-size: 50% 50%;
    background-repeat: no-repeat;
  }
  
  //@mixin for keyframe
  @mixin keyframes($name){
    @keyframes #{$name} {
      @content;
    } 
  }

  @mixin animation($str){
    animation: #{$str};
  }
  @include keyframes(moveToR){
    0%{
      transform-origin: 100% 50%;
      transform:translateX(-100%);
    }
    100%{
      transform:translateX(0%);
    }
  }
  
  //dropdown
  @mixin flexbox($position){
    display:flex;
    flex-wrap:wrap;
    @if $position == 'vertical'{
      flex-direction:column;
    }
    @else if $position == 'horizontal'{
      flex-direction:row;
    }
  }
  


/*******************************************************/
//color system

$white:#fff;
$gray-100:#f8f9fa;
$gray-200:#e9ecef;
$gray-300:#dee2e6;
$gray-500:#adb5bd;
$gray-600:#6c757d;
$gray-700:#495057;
$gray-800:#495057;
$black:#000000;

$bg-colors:
  (
    danger: #c8553d,
    unselect: #e5e5e5
);

$colors:();
$colors:map-merge
  (
    (
      "white":$white,
      "gray":$gray-600,
      "gray-dark":$gray-800
     
    ),
    $colors
);

//button
$btn-colors:(
  info:#487070,
  danger:#c8553d,
  warning:#cc8925,
  success:#588b8b
  


);

//backgruond
$bg-green:
  (
    "01":#304b4b,
    "02":#d4d4d4,
    "03":#b8cbe0,
    "04":#707070,
    "05":#4dc06f,
    "06":#c1d8d8
  );

$image-location:'../img/';

$table:(
  table-bg:#f1f1f1,
  title:#647384,
  border:map-get( $bg-green,06),
  title-icon:#A8C7C7,
  title-icon-active:map-get($bg-green, 05),
  splitter:#74bcbc,
  ag-row-bg:#d1e4ef,
  ag-row-bg-odd:$gray-100,
  ag-row-hover:#2196f31a,
  border-row:$gray-300,
  cell-active:#c2d8d6,
  disable-bg:map-get($bg-colors, unselect),
  disable-text:$gray-600,
  label:map-get($bg-green,01)
  
);

$calendar-border:0.1rem solid rgba(0,0,0,0.1);

$fa-font-path:"fonts/fontawesome-free-5.15.4-web/webfonts";

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-s: $font-size-base * .75;
$font-size-xs: $font-size-base * .5;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base ;
$h6-font-size: $font-size-base * .75;
$h7-font-size: $font-size-base * .5;
$h8-font-size: $font-size-base * .25;

$font-weight:
  (
    bold:700,
    bolder:bolder
  );


$line-height-base: 1;
$line-height-s: $line-height-base * .75;
$line-height-semi: $line-height-base * 1.5;
$line-height-md: $line-height-base * 2;
$headings-line-height: $line-height-base * 1.2;

$sp-xxs: .25rem;
$sp-xs:.5rem;
$sp-sm: 1rem;
$sp-semi:1.5rem;
$sp-md: 2rem;

$radius-sm:.25rem;
$radius-m:.5rem;

$icon-size:( 
xs:.5rem,
sm: 1rem,
  m: 1.25rem,
semi:1.5rem,
  md:1.75rem,
l: 2rem
);


$nav-width:44px;
$wrapper-content-header-top:3px;



/***********************************************************/

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px,
  xl-ratio: '4/3',
  xxl-ratio: '16/9'
);
$breakpoint: map-get($breakpoints, sm);

//min-width
@mixin respond-above($breakpoint){
  @if map-has-key($breakpoints, $breakpoint){
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media(min-width: $breakpoint-value){
      @content;
    }
  } @else{
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//max-width
@mixin respond-below($breakpoint){
  @if map-has-key($breakpoints, $breakpoint){
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media(max-width: ($breakpoint-value - 1 )){
      @content;
    }
  }@else{
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//(min-width) and (max-width)
@mixin respond-between($lower, $upper){
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper){
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);
    @media(min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1 )){
      @content;
    }
  }@else{
     @if (map-has-key($breakpoints, $lower) == false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }
   @if (map-has-key($breakpoints, $upper) == false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

//ratio
@mixin respond-ratio($ratio){
  @if map-has-key($breakpoints, $ratio){
    $ratio-breakpoint: map-get($breakpoints, $ratio);
    @media screen and (device-aspect-ratio: $ratio-breakpoint){
      @content;
    }
  }@else{
     @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

/***********************************************************/
@font-face{
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto'),
           url( fonts/Roboto.woff) format('woff'),
           url( fonts/Roboto.woff2) format('woff2'),
           url( fonts/Roboto.ttf ) format('truetype');
  font-style: normal;
  font-weight: 400;
}

// @mixin font-face($font-name, $category: '') {
//     $filepath: 'fonts/' + $font-name ;
//      @font-face{
//        font-family: '#{$font-name}';
//        font-display: swap;
//        src: local('#{$font-name}'),
//          url($filepath + '.woff') format('woff'),
//          url($filepath + '.woff2') format('woff2'),
//          url($filepath + '.ttf') format('truetype');
//          //($filepath + '.svg#' + $font-name + '') format('svg');
//      }
//      %#{$font-name}{
//        font {
//         @if ($category != '') {
//            family: '#{$font-name}', #{$category};
//          } @else {
//            family: '#{$font-name}';
//            style: normal;
//            weight: 400;
//        }
   
         
//        }
//      }
//    }
   
   
  //  @include font-face('Roboto');


   /*********************************************************/

// $table:(
//     table-bg:#f6f9fb,
//     title:#647384,
//     border: #96b5ca8a,
//     title-icon:#a1b0b8,
//     title-icon-active:#0094ff,
//     splitter:#71a7d3,
//     ag-row-bg: #d1e4ef40,
//     ag-row-hover:#2196f31a,
//     border-row: #dde2eb,
//     cell-active:#b5c6d7,
//     disable-bg:#dfdfe3,
//     disable-text:#5f5f6a

// );
$ag-cell-width:200px;
$ag-cell-border-width:10px;


.view{
    background-color:map-get($table, table-bg );
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 90vw;
    min-width: 24em;
    margin: auto;
    position: relative;
    .ag-theme-alpine{
        .ag-root-wrapper{
            border: 0;
            
        }
    }
}

// .ap-root-wrapper-body{
//     .ag-root{
//         .ag-header{
//             background-color:none;
//             border:0;
//         }
//     }
// }


.filter,.openDetail{
    color:map-get($table, title-icon );
}
.ag-header-row{
    color:map-get($table, title );
    font-weight: bold;
    // width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    
}
.ag-header-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    &[aria-sort='ascending']{
        .customSortDownLabel{
            &.active{
                display: flex;
            }
        }
        .customSortUpLabel{
            &.inactive{
                display: none;
            }
        }
    }
    &[aria-sort='descending']{
        .customSortDownLabel{
            &.inactive{
                display: none;
            }
        }
        .customSortUpLabel{
            &.active{
                display: flex;
            }
        }
    }
}

.ag-header-cell:hover .headerLabel.r .filter,
.ag-header-cell:hover .headerLabel.r .openDetail {
    visibility: visible;
}
.ag-header-cell .headerLabel.r .filter,
.ag-header-cell .headerLabel.r .openDetail {
    visibility: hidden;
}
.ag-header-cell.ag-column-menu-visible .headerLabel.r .filter,
.ag-header-cell.ag-header-active .headerLabel.r .filter:active,
.ag-header-cell.ag-column-menu-visible .headerLabel.r .openDetail,
.ag-header-cell.ag-header-active .headerLabel.r .openDetail:active{
    visibility: visible;
    color: map-get($table , title-icon-active );
}
.headerLabel.r div:not(:last-child){
    margin-right: .25rem;
}
.headerLabel.l div:not(:first-child){
    margin-right: .25rem;
}

.ag-theme-alpine .ag-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border:none;
}
.ag-theme-alpine .ag-cell,.ag-cell{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid map-get($table , border-row );
}
.ag-theme-alpine .ag-ltr .ag-cell {
    border-right-width: 0;
}
// * right table .ag-pinned-left-cols-container *
.ag-pinned-left-cols-container .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height {
    line-height: 60px;
}
.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-cell.ag-cell-wrap-text,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group{
    padding-left: 10px ;
    padding-right: 10px ;
}
.ag-theme-alpine .ag-row > .ag-cell-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}


// * text ellipsis *
.ag-pinned-left-cols-container .ag-cell-wrapper{
    display:block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // min-width: 0;
    // flex: 1;

    // &:active, &:hover {
    //     overflow-x: visible;
    //     &:before {
    //         position: absolute;
    //         content:"1234445";
    //         background-color: PaleGoldenRod;
    //         padding: 3px;
    //         margin-left: -4px;
    //     }    
        
    // }
}


// * header line *
.ag-theme-alpine .ag-header-cell:after{
    display: inline-flex;
    align-items: center;
    content: "";
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 1px;
    right: 0;
    background-color: map-get($table, border );
}   
.ag-theme-alpine .ag-pinned-left-header .ag-header-cell:last-child:after{
    display: none;
}


    


.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    line-height: 25px; /**/
}
.ag-cell-wrapper,
.ag-theme-alpine .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
    height: 60px;
    flex-direction: column;
    align-items: flex-start;
    //width:120px;

}
// * right table cell width *
// .ag-header-viewport .ag-header-cell {
//     width: 120px!important;
// }

.headerTitleCell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    .headerLabel{
        &.l,&.r{
            display: flex;
        }
        .customHeaderLabel{
            color:map-get($table, title );
            margin-right: 0.25rem;
        }
        .sort{
            display: flex;
            align-items: center;
        }
        
    }

}

.ag-theme-alpine .ag-header{
    background-color:map-get($table, table-bg );
    border-bottom: solid 2px map-get($table , border);
    display: flex;
    height: 50px;
    width: 100%;
}
.customSortDownLabel,
.customSortUpLabel{
    color:map-get($table, title-icon );
    &.active{
        color:map-get($table, title-icon-active );
    }
}
.ag-theme-alpine .ag-pinned-left-header,
.ag-theme-alpine .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
    border-right:1px solid map-get($table, border ) ;
}
// * right table *
.ag-pinned-left-cols-container .ag-row-hover .ag-cell:first-child {
    border-left: 3px solid map-get($table, title-icon-active );
}


.ag-header-cell:hover{
    cursor:auto;
}
.ag-header-cell:hover .ag-header-cell-sortable:visited,
.ag-header-cell:hover .ag-header-cell-sortable,
.ag-header-cell-sortable:active,
.ag-header-cell-sortable:focus {
    cursor: pointer;
}


button.expand,
button.splitter{
    display: flex;
    position: relative;
    background: inherit;
    cursor: pointer;
    border: 0;
}
button.expand svg{
    width:24px;
    height:21px;
    fill:map-get($table, title );
}
button.expand:hover svg,
button.expand.active svg{
    fill: #0094ff;
}
button.splitter {
    z-index: 2;
    color: map-get($table , splitter );
    font-size: 2rem;    
}
button.splitter i.fa-caret-left {
    position: absolute;
    top: 128px;
    // left: calc( 200px*3 - 10px);
    left:588px;
}
button.splitter i.fa-caret-right {
    position: absolute;
    top: 128px;
    // left: calc(200px - 10px);
    left:190px;
}
button.expand .messageE,
button.expand .messageC,
button.splitter i .message{
    display: none;
}

button.expand:hover.open svg + .messageE,
button.expand:hover.close svg + .messageE + .messageC,
button.splitter:hover i .message{
    display: flex;
    position: absolute;
    color: #ffffff;
    font-size: 0.25rem;
    background: #000;
    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 3;
}
button.splitter:hover i .message{
    left: -18px;
}
button.expand:hover svg + .messageE,
button.expand:hover.close svg + .messageE + .messageC {
    top: 24px;
    left: 5px;
}
button.expand:hover.open svg + .messageE:before,
button.expand:hover.close svg + .messageE + .messageC:before,
button.splitter:hover i .message:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    content: "";
    border: solid transparent;
    border-bottom-color: #000;
    border-width: 5px;
}
button.expand:hover.open svg + .messageE:before,
button.expand:hover.close svg + .messageE + .messageC:before{
    left:33%;
}

button.splitter i .messageV {
    display: flex;
    height: 224px;/*要修*/
    background: map-get($table , splitter );
    position: absolute;
    top: -77px;/*要修*/
    left: -31px;
    direction: ltr;
    writing-mode: vertical-rl;
    font-size: 1rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #fff;
}

i.fa.fa-caret-right:after ,
i.fa.fa-caret-left:after {
    content: "";
    width: 10px;
    height: 240px;
    position: absolute;
    background: #96b5ca52;
    top: -77px;
    left: 0;
}





.ag-cell-wrapper .has-delay {
    color: red;
}
.has-ac-date {
    border: 1px solid red;
}
.has-empty {
    border: 1px solid #d8d8d8;
    background: #fff;
    height:27px;
}

// * all table - focus *
.ag-theme-alpine .ag-ltr .ag-cell-focus:focus,
.ag-theme-alpine .ag-ltr .ag-cell:focus,
.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected){
    background-color:map-get($table, cell-active );
    border:none;
}


// .ag-full-width-container:focus .ag-row,
// .ag-full-width-container:active .ag-row,
// .ag-full-width-container:active .ag-row.ag-row-focus{
//     background-color:map-get($table, cell-active );
//     z-index: 2;
// }


// * left table .ag-center-cols-clipper *
.ag-cell-wrapper{
    .cell{
        flex-direction: row !important;
        justify-content: space-around !important;
        .cellDate {
            line-height: 25px;
            display: flex;
            flex-direction: column;
            min-width: 94px;
            .planDate {
                padding: 0 0.5rem;
                min-width: 94px;
            }
        }
        .cellDetailSwitch {
            opacity: 0;
        }
        .ag-row-hover &,
        .ag-cell-focus &
       { //, &:hover
            .cellDetailSwitch{
                opacity: 1;
                display: flex;
                align-items: center;
                height: inherit;
                margin-left:.5rem;
            }
        }
    }
}

// * cell detail *
.ag-full-width-container .ag-row{
    background-color:map-get($table, cell-active );
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.full-width-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    .cell{
        display: flex;
        flex-direction: row;
        align-items: center;
        .date{
            display: flex;
            flex-direction: column;
            margin-right: 0.5rem;
            label{
                font-size: .25rem;
                font-weight: bolder;
            }
            input{
                border: none;
                box-shadow:  2px 2px 3px #ccdbe8 inset, -1px -1px 2px #ffffff80 inset;
                padding: 0.25rem;
                &:focus{
                    outline:none;
                    border:2px solid map-get($table, title-icon-active );
                }
                &:read-only {
                    background-color: map-get($table, disable-bg );
                    color:map-get($table, disable-text );
                    box-shadow: none;
                  }
            }

        }
        button{
            border-radius: 0.25rem;
            border: 0;
            margin-right: 0.5rem;
            width: 24px;
            height: 24px;
            color: #fff;
            cursor:pointer;
            box-shadow: 0px 2px 3px #0000001a, 0px 1px 2px #0000000f ;
            &.ok{
                background-color: map-get($table , title-icon-active );
            }
            &.cancel{
                background-color: red;
            }
        }

    }
}


//* table second - task name *
.table2nd {
    position: absolute;
    display: flex;
    height: inherit;
    width: inherit;
    background: #fff;
    top: 0;
    left:0;
    flex-direction: column;
    z-index: 5;
    .title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        [aria-label="breadcrumb"]{
            display: flex;
            font-weight: bold;
            font-size:1rem;
            padding:.5rem;
            &:hover{
                cursor: pointer;
            }
        }
        button{
            font-size: 1.5rem;
            border: 0;
            background:none;
            color: map-get($table, title-icon );
            cursor:pointer;
            display: flex;
            &:hover{
                color:#0094ff;
            }
        }
    }
    .table{
        width:inherit;
        height:inherit;
        box-shadow: 0px 0.0625em 0.0625em #00000040 ,  0px 0.125em 0.5em #00000040, 0px 0px 0px 1px  #ffffff1a inset;
    }
  }
  

  .my-calendar{
      display: flex;
      .p-datepicker-group-container{
        .p-datepicker-group {
            display: flex;
            flex-direction: column;

            .p-datepicker-header{
                display: flex;
                justify-content: space-around;
                .p-datepicker-title{
                    align-items: center;
                    display: flex;
                    .p-dropdown{
                        border:0;
                        &.p-inputwrapper-focus,&:hover, &:click, &:focus, &:not(.p-disabled):hover{
                            outline: none;
                            color:#0094ff;
                        }
                        &.month{
                            font-size: 1rem;
                            color: #747978;
                            
                        }
                    }
                }
                
            }
            .p-datepicker-calendar-container{
                table.p-datepicker-calendar{
                    display: flex;
                    flex-direction: column;
                    thead{
                        display: flex;
                        justify-content: space-around;
                        tr{
                             //weekdays
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             user-select: none;
                             text-align: center;
                            th{
                                width: 2.5rem;
                                height: 2rem;
                                line-height: 2.5rem;
                                font-size: .25rem;
                                color: #4b6289;
                                margin: 0 0.15rem;
                            }
                        }
                    }
                    tbody{
                        display: flex;
                        flex-direction: column;
                        tr{
                            //days
                            display: flex;
                            // flex-direction: row;
                            flex-wrap: wrap;
                            // justify-content: space-around;
                            // line-height: 2.5rem;

                           
                            align-items: center;
                            justify-content: center;
                            user-select: none;
                            text-align: center;
                            td{
                                width: 2.5rem;
                                height: 2.5rem;
                                line-height: 2.5rem;
                                position: relative;
                                cursor: pointer;
                                transition: color, background 0.2s ease-in-out;
                                border-radius: 12px;
                                margin: 0.25rem 0.15rem;

                                &:not(.day-empty):not(.day-active):not(.has-delay):hover {
                                    color: #7bc4db;
                                    background: rgba(0,0,0,0.05);
                                  }
                                &.day-active{
                                    color: #fff;
                                    background: #7bc4db;
                                    &.has-delay{
                                        color: #f04;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }



 tbody td.day-active.has-today::before {
    background: #059346;
  }
 tbody td.day-empty {
    cursor: initial;
  }
.has-today:before{
    content: "";
    position: absolute;
    display: block;
    top: 0.4rem;
    left: 0.4rem;
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background: #52b67a;
  }
  tbody td.has-delay:not(.day-active) {
    background: rgba(255,0,0,0.1);
    color: #f04;
  }

//   .p-datepicker table td > span



// .ag-cell-wrapper:hover:after {
//     position: absolute;
//     bottom: 33%;
//     left: 50%;
//     margin-left: -5px;
//     content: "";
//     border: solid transparent;
//     border-bottom-color: #000;
//     border-width: 5px;
// }

// .ag-cell-wrapper:hover:before {
//     text-align: left;
//     position: absolute;
//     content: "99000000098656546464564545645645699";
//     padding: 0.5em 1em;
//     background: grey;
//     pointer-events: none;
//     color: white;
//     /* opacity: 0; */
//     transform: translateY(calc(54% - 0.5em)) translateX(-0.5em);
//     animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
//     border-radius: 0.5em;
//     display: inline-flex;
//     line-height: 1;
//     bottom: 0;
//     align-items: flex-start;
//     max-width: 200px;
//     white-space: pre-wrap;
//     word-break: break-all;
//     /* z-index: 999; */
// }


/**                   20220420                */


  /*----------------------- body------------------------------*/
*,
*:before,
*:after{
  box-sizing: border-box;
}
html{
  height: 100%;
  body{
    //width:100vw;
    //min-height: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    display:flex;
    font-family: "Roboto", sans-serif !important;
    line-height:1;
    img{
      max-width: 100%;
    }
    ol, ul, dl{
      margin-top:0;
      margin-bottom: $sp-sm;
    }
    a,button,a:hover{
      outline:0;
      cursor:pointer;
    }
    [tabindex="-1"]:focus:not(:focus-visible){
      outline:0 !important;
    }
    
  }
}

//message account number
.noti-dot{
    position:absolute;
    border-radius:50%;
    font-size: $font-size-xs;
    font-weight:bolder;
    color: $white;
    background-color:map-get($btn-colors,danger);
    padding:2px;
    display:flex;
    justify-content:center;
  }
  

  /*---------------蓋掉用  cover start --------------*/
:root{
    --font-family-sans-serif:"Roboto", sans-serif !important;
    --font-family-monospace:"Roboto", sans-serif !important;
    --font-family:"Roboto", sans-serif !important;
  }
  .p-component,
  .p-inputtext{
    font-family: "Roboto", sans-serif !important;
  }
  .p-multiselect-label-container{
    min-width: 12rem;
  }
  /* cover end */
  
  //*****************************************************//

//   .wrapper{
//     width: 100vw;
//     height:100vh;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     align-items: stretch;
//     // background: linear-gradient(to bottom, map-get($btn-colors,info), map-get($btn-colors,info));
//     background:map-get($btn-colors,info);
    
//     .sidebar{
//       display: flex;
//       flex-direction: column;
//       width: $nav-width;
//       //height: 100%;
//       flex-grow: 0;
//        // background: linear-gradient(to bottom, map-get($btn-colors,info), map-get($btn-colors,info));
//       background:map-get($btn-colors,info);
//       padding: $sp-sm 0;
//       transition:all .2s;
//       z-index:999;
      
//       .logo{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         a.logo{
//           height:3vh;
//           // background: $logo no-repeat 0 0;
//           font-size: $font-size-xs;
//           font-weight: map-get($font-weight,bolder);
//           color:map-get($bg-green,03);
//           text-decoration:none;
//           span{
//             height:3vh;
//             display:flex;
//             align-items:center;
//           }
//         }
//       }//logo end
      
//       //main nav list
//       ul.nav{
//         display:flex;
//         flex-wrap:wrap;
//         flex-direction:column;
//         list-style:none;
//         margin-top: $sp-semi;
        
//         li{
//           width:100%;
//           min-height: $nav-width;
//           margin: $sp-xxs 0;
//           word-wrap: break-word;
//           display:flex;
//           align-items:center;
//           a{
//             display:flex;
//             flex-direction:row;
//             align-items:center;
//             justify-content:flex-start;
//             //max-widtch: calc(.25rem *47 );
//             width: $nav-width;
//             height:100%;
//             text-decoration:none;
//             padding:0 $sp-sm 0 $sp-xs;
//             position: relative;
//             z-index: 2;
//             color: $white;
//             transition: color 400ms;
            
//             svg{
//               overflow:visible;
//               width: map-get($icon-size,md);
//               height: map-get($icon-size,md);
//               fill: $white;
//               display: block;
//               font-size: $font-size-base;
//               line-height: $line-height-s;
//             }
//             span{
//               font-size: $font-size-sm;
//               margin-left: $sp-xs;
//               visibility: visible;
//               color: map-get($btn-colors,info);
//               white-space:nowrap;
//               line-height: $line-height-base;
//               font-weight: map-get($font-weight,bold);
//               display:none;
//             }
//             &:hover{
//               span{
//                 display:flex;
//                 align-items:center;
//                 height:$nav-width;
//                 padding: $sp-xxs $sp-sm $sp-xxs $sp-xxs;
//                 background: $gray-100;
//                 animation:moveToR .4s ease-in-out;
//               }
//             }
            
//             &:hover, &:active, &:focus, &.active{
//               color: map-get($btn-colors,info);
//               background-color: $gray-100;
//               @include a('before','hover','active','focus','active',top,-20px,right,-20px,40px,44px);
//               @include a('after','hover','active','focus','active',top,20px,right,-20px,40px,44px);     
//               a.active:hover:before, &:before{
//                 //@extend %coner;
//                 //@include margin(-20px);
//              //   @include background(20px,0px, $gray-100, $gray-100);找不到
//                 z-index:-1;
//               }
//               a.active:hover:after, &:after{
//                 //@extend %coner;
//                 //@include margin(20px);
//               //  @include background(0px,20px, $gray-100, $gray-100);找不到
//                 z-index:-1;
//               }
//               svg{
//                 fill: map-get($btn-colors,info);
//               }
//             }
            
//           }//nav's a end
//         }
//       }//nav end
//     }//sidebar end
    
//     //main content
//     .content{
//       display:flex;
//       flex-grow:1;
//       flex-direction:column;
//       width:calc(100% - $nav-width);
//       background: $gray-100;
//       border-radius: 20px 0 0 0;
//       margin-top: 1rem;//不確定
//       box-shadow: map-get($bg-green,06) 3px 3px 6px 0px inset, map-get($bg-green,02) -3px -3px 6px 1px inset;
//       overflow-y: auto;
      
//       .header{
//         //display:flex;
//         display:none;
//         flex-wrap:nowrap;
//         flex-direction:row;
//         justify-content:space-between;
//         align-items:center;
//         flex:0 0 auto;
//         width:inherit;
//         height: 7vh;
//         padding: $sp-semi $sp-xs $sp-semi $sp-md;
//         box-shadow: 0 0 4px lighten($black,25%);
//         border-bottom: 1px solid map-get($bg-green,02);
//         position:relative;
//         z-index:99;
//         background: linear-gradient( to right, transparent 0%, $gray-100 1%);
//         border-top-left-radius: 22px;
        
//        // &:after{
          
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
//         // }
//         &.active{
//           display:flex;
//           position:fixed;
//           width: inherit;
          
//           & + .headerSwitch{
//             transform: scale(1.23) rotate(180deg);
//             &.menu_part{
//               height:2px;
//               &::nth-of-type(1){
//                 transform:rotate(45deg);
//                 width:14px;
//                 top: calc( 50% - 2px);
//               }
//               &::nth-of-type(2){
//                 left: -3px;
//                 opacity:0;
//               }
//               &::nth-of-type(3){
//                 transform:rotate(-45deg);
//                 width:14px;
//                 top: calc( 50% - 2px);
//               }
//             }
//           }
//         }
//         .fabSelect{
//           .p-dropdown{
//             border:2px solid lighten(map-get($btn-colors,info),62%);
//             border-radius: .6rem;
//           }
//           .p-float-label{
//             line-height: $line-height-base;
//           }
//           .p-inputext{
//             font-size: $font-size-s;
//           }
//         }
        
//         .topMenu{
//           display:flex;
//           justify-content:flex-end;
//           flex-wrap:nowrap;
//           flex-direction:row;
//           align-items:center;
//           list-style:none;
//           width:100%;
//           height:inherit;
//           margin-top: $sp-xs;
//           margin-bottom: $sp-xs;
          
//           li{
//             padding: $sp-xxs $sp-xs;
//             a,a:not([href]):not([class]){
//               color: map-get($btn-colors,info);
//               &.bell{
//                 position:relative;
//               }
//               .noti-dot{
//                 top:-10px;
//                 right:-12px;
//                 min-width:0.9rem;
//                 max-width:1.3rem;
//               }
//             }
//           }
          
//         }//topMenu end  
        
//       }//header end
      
//       //switch
//       .headerSwitch{
//         display:block;
//         position:absolute;
//         width:20px;
//         height: $nav-width;
//         line-height: $line-height-base;
//         text-align:center;
//         color:map-get($btn-colors,info);
//         left: $nav-width;
//         z-index: 999;
//         border-style:none;
//         border-top-left-radius: 21px;
//         background: none;
//         overflow:hidden;
//         text-shadow: 2px 2px 2px lighten($black,20%);
//         transition:all 0.55s;
//         cursor:pointer;
        
//         .menu_part{
//           width:4px;
//           height:4px;
//           position:absolute;
//           background:map-get($btn-colors,info);
//           right:0;
//           margin:auto;
//           left:0;
//           border-radius: $radius-sm;
//           transition:all 0.55s cubic-bezier(0.4, 0.1, 0.4, 0.8);
          
//           &:nth-of-type(1){
//             top:calc( 50% - 8px + -2px);
//           }
//           &:nth-of-type(2){
//             top:calc( 50% - 8px + 4px);
//           }
//           &:nth-of-type(3){
//             top:calc( 50% - 8px + 10px);
//           }
//         }  
//       }
      
//       .main{
//         display:flex;
//         flex-direction:column;
//         flex:1 1 auto;
//         padding:$sp-sm $sp-sm $sp-sm $sp-semi;
//         width:100%;
        
//         //right a frame -box
//         .cardGroup{
//           display:flex;
//           flex-direction:column;
//           width:100%;
//           height:auto;
          
//           .card{
//             margin-bottom:$sp-sm;
//             padding:$sp-sm $sp-semi;
//             box-shadow: 0 1px 5px 0 lighten($black,8%);
//             border:none;
//             position:unset;/*cover*/
//             display:flex;
//             flex-direction:column;
//             background-color:$white;
//             background-clip:border-box;
//             transform:translateY(0px);
            
//             legend{
//               display:block;
//               position:relative;
//               font-size: $h4-font-size;
//               letter-spacing:1px;
//               line-height:$headings-line-height;
//               color:$gray-700;
//               margin-bottom:$sp-md;
//               &:after{
//                 display:block;
//                 content:"";
//                 position:absolute;
//                 width:2.5rem;
//                 height:2px;
//                 background: map-get($bg-colors,info);
//                 margin-top:$sp-xxs;
//               }
//             }
            
//             // on/off switch
            
//             $switch:'p-inputswitch';
            
//             .switchBox{
//               display:flex;
//               align-items:center;
//               margin-top:$sp-semi;
//               .#{$switch}{
//                 width:3.75rem;
//                 height:1.75rem;
//                 display:flex;
//                 margin-top:$sp-xs;
//                 .#{$switch}-checked{
//                   .#{$switch}-slider{
//                       box-shadow: lighten($black, 15%) 0 1px 2px inset, lighten($black, 20%) 0 0 3px  inset;
//                       background:map-get($btn-colors,info);
//                     &:after{
//                       position:absolute;
//                       color:$white;
//                       text-shadow: lighten($black, 20%) 0 1px;
//                       top:27%;
//                       font-size: $h8-font-size;
//                       content:"ON";
//                       left: calc(1.25rem - 10px);
//                       right:unset;
//                     }
//                     &:before{
//                       left: calc(1.25rem - 4px);
//                     }
//                   }
//                   &:not(.p-disabled){
//                     &:hover{
//                       .#{$switch}-slider{
//                         background:map-get($bg-green,01);
//                       }
//                     }
//                   }
//                 }
//               .#{$switch}-slider{
//                 &:before{
//                   left:$sp-xxs;
//                 }
//                  &:after{
//                       position:absolute;
//                       color:$white;
//                       text-shadow: lighten($black, 20%) 0 1px;
//                       top:27%;
//                       font-size: $h8-font-size;
//                       content:"OFF";
//                       left: calc(1.25rem + 10px);
//                       color: $gray-700;
//                       text-shadow: 0 1px saturate($white, 50%);
//                     }
//                 }
//                 & + label{
//                   margin-bottom: 0;
//                 }
//               }
//             }//switchBox end
            
//             //dropdown menu box
//             .dropdownList{
//                 margin-bottom: $sp-semi;
//                 align-content:flex-start;
//               &.vertical{
//                 @include flexbox(vertical);
//                 .dropdown, .dropdownMultiple{
//                     margin:0 $sp-semi $sp-semi 0;
//                 }
//               }
//                &.horizontal{
//                 @include flexbox(horizontal);
//                 .dropdown, .dropdownMultiple{
//                     margin:0 $sp-semi $sp-xs 0;
//                 }
//               }
//             }
    
//             //selected Qty
//             .selectedQty{
//                 font-size:$font-size-xs;
//                 font-weight:map-get($font-weight,bold);
//                 margin-bottom: $sp-xs;
//                 color: lighten($black,70%);
//             }
    
//             //textarea
//             .show-tool-selected{
//                 padding:$sp-xxs;
//                 border:1.5px solid lighten(map-get($btn-colors,info),62%);
//                 border-radius: $radius-sm;
//                 height:93px;
//                 width:100%;
//                 overflow-y:scroll;
//                 overflow-x:hidden;
//                 display:flex;
//                 flex-direction:row;
//                 align-content:flex-start;
//               flex-wrap:wrap;
//               .tool-selected{
//                 background: map-get($bg-colors,unselect);
//                 display:flex;
//                 flex-direction:row;
//                 height:30px;
//                 margin: $sp-xxs $sp-xs;
//                 padding: $sp-xxs $sp-xs;
//                 border-radius: $radius-sm;
//                 span{
//                   white-space:nowrap;
//                   display:inline-flex;
//                   align-items:center;
//                 }
//                 // selected items's close icon
//                 button{
//                   background:transparent;
//                   border:none;
//                   display:flex;
//                   align-items:center;
//                   padding: 0 0 0 $sp-xxs;
//                   svg.MuiSvgIcon-root{
//                     fill:map-get($btn-colors,info);
//                     width:1.25rem;
//                     height:1.25rem;
//                     display:flex;
//                     font-size: $font-size-lg;
//                   }
//                 }
//               }
              
//             }
    
//             // page's table, flex area
//             .box{
//               flex-wrap:nowrap;
//               &.horizontal{
//                 align-items:center;
//                 &.alignR{
//                   justify-content: flex-end;
//                 }
//               }
//               //change file name
//               .left{
//                 display:flex;
//                 margin-right:auto;
//                 width:100%;
//                 height:100%;
//                 input.rename{
//                   font-size:$h4-font-size;
//                   line-height: $line-height-md;
//                   border:0;
//                   outline:0;
//                   text-decoration: 0.15rem solid underline;
//                   text-underline-offset:9px;
//                   text-decoration-color:map-get($bg-colors,info);
//                   background:linear-gradient(map-get($bg-colors,info),map-get($bg-colors,info)) left bottom 0 no-repeat;
//                   background-size: 15rem 0.15rem;
//                   padding:0;
//                   min-width:15rem;
//                   &:focus{
//                     text-decoration-color:map-get($bg-green,01);
//                   }
//                 }
                
//               }
//             }//box end
  
//             //choose class
//             .classSelect{
//                 margin-top: $sp-xs;
//               .dropdownList{
//                 margin-bottom:0;
//                 &.vertical{
//                   .dropdown{
//                     margin: $sp-sm 0 $sp-xs 0;
//                   }
//                 }
//               }
//             }
  
//           }// card end
  
//         }//cardGroup end
         
//         .dropdown{
//           &.size-sm{
//             margin-right: $sp-sm;
//             .p-multiselect-label-container{
//               height:34px;
//             }
//           }
//         }//dropdown end
  
//       }//main end
      
//     }//content end 
    
    
//   }//wrapper end
  
  
//   //hover 提示文字
// %tooltip{
//   visibility:hidden;
//   opacity:0;
//   pointer-events:none;
// }
// %tooltip-hover{
//   visibility:visible;
//   opacity:1;
// }
// [data-tooltip]{
//   position:relative;
//   z-index:2;
//   display:flex;
  
//   &:before{
//     @extend %tooltip;
//     position:absolute;
//     bottom:-104%;
//     padding:7px;
//     border-radius:3px;
//     background-color:map-get($bg-green,04);
//     color:$white;
//     content: attr(data-tooltip);
//     font-size:$h6-font-size;
//     line-height:$line-height-base;
//     justify-content:center;
//     align-items:center;
//     white-space:nowrap;
//   }
//   &:after{
//     @extend %tooltip;
//     position:absolute;
//     bottom:-23%;
//     width:0;
//     border-bottom: 5px solid map-get($bg-green,04);
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     content: "";
//     font-size:0;
//     line-height:0;
//   }
//   &:hover{
//     &:before,
//     &:after{
//       @extend %tooltip-hover;
//     }
//   }
// }//[data-tooltip] end


// //buttons
// .buttonGroup{
//   display:flex;
//   justify-content:flex-end;
//   &.size-m{
//     padding: $sp-sm 0;
//     border-top: 1px solid $gray-200;
//   }
//   &.size-sm{
//     padding:0;
//     border-top:0;
//   }
//   button{
//     display:inline-flex;
//     align-items:center;
//     justify-content:center;
//     border-width:0;
//     box-shadow: 0px 1px 3px lighten($black,20%), 1px 2px 2px lighten($white, 20%) inset;
//     color:$white;
//     //background color change
//     @each $name,$colors in $btn-colors{
//       $bgcolor:nth($colors,1);
//       &.#{$name}{
//         &.size-m{
//           background:linear-gradient(to left, $bgcolor, darken($bgcolor,10%));
//         }
//         &.size-sm{
//           background:$bgcolor;
//         }
//       }
//     }
//     //button hover animation
//     &.size-m{
//       padding:0.1rem $sp-sm;
//       min-width:7vw;
//       width:fit-content;
//       height:36px;
//       border-radius:$radius-m;
//       margin-right:$sp-semi;
//       @include respond-ratio(xl-ratio){
//         padding: $sp-xxs $sp-sm;
//         min-width:5vw;
//       }
//       @include respond-above(xxl){
//         padding: $sp-xxs $sp-sm;
//         min-width:5vw;
//       }
//       &.move{
//         background-size: 200% 100%;
//         background-position: 100% 100%;
//         transition:background-position .5s ease-out;
//       }
//       i{
//         font-size:map-get($icon-size,sm);
//         @include respond-above(xxl){
//           font-size: (map-get($icon-size,sm)) + .4rem;
//         }
//       }
//       span{
//         display:none;
//         font-size:map-get($icon-size,sm);
//       }
//     }
//     &.size-sm{
//       padding: $sp-xs;
//       width:36px;
//       height:32px;
//       margin-right:$sp-sm;
//       border-radius:$radius-sm;
//       i{
//         font-size:map-get($icon-size,xs);
//       }
//     }
    
//     //icon is svg, it's not fontawesome按鍵是符號字元的
//     %btn-svgSize{
//       fill:$white;
//       display:block;
//       line-height: $line-height-s;
//       overflow:visible;
//     }
//     @each $btn-svgSize,$size in $icon-size{
//       &.size-#{$btn-svgSize}{
//         svg.btn-icon{
//           width:$size;
//           height:$size;
//           @extend %btn-svgSize;
//           @include respond-above(xxl){
//             width:$size + $sp-xxs;
//             height: $size + $sp-xxs;
//           }
//         }
//         &:hover{
//           svg.btn-icon{
//             width:$size - $sp-xxs;
//             height: $size - $sp-xxs;
//             @include respond-above(xxl){
//               width: $size;
//               height: $size;
//             }
//           }
//         }
//         &:last-child{
//           margin-right:0;
//         }
//       }     
//     } 
    
//      &:hover{
//       .size-m{
//         background-position:0 100%;
//         &.move{
//           background-position:0 0;
//         }
//         span{
//           display:inline-flex;
//           justify-content:space-between;
//           padding-left: $sp-xs;
//         }
//         i{
//           font-size:map-get($icon-size,xs);
//           @include respond-above(xxl){
//             font-size:(map-get($icon-size,sm)) + .2rem;
//           }
//         }
//       }
//     }
//     //icon is fontawesome
//     i{
//       align-items:center;
//     }
    
//   }
 
// }//buttons end


// //flex排列
// .horizontal{
//   @include flexbox(horizontal);
// }
// .vertical{
//   @include flexbox(vertical);
// }
// .space-between{
//   justify-content:space-between;
//   align-items:center;
// }


// //slider cards - accomplish rate
// #rateSlider{
//   .boxslider{
//     margin: 0 auto;
//     .swiper{
//       position:relative;
//       display:flex;
//       box-sizing:border-box;
//       user-select:none;
//       touch-action:pan-y;
//       -webkit-tap-highlight-color:transparent;
//       padding:0 $sp-semi;
//       width:auto;
//       overflow:hidden;
//       /* Arrows */
//       div[class^='swiper-button']{
//         position:absolute;
//         display:flex;
//         height:30px;
//         width:30px;
//         cursor:pointer;
//         background:transparent;
//         color:transparent;
//         top:50%;
//         margin-top:-10px;
//         padding:0;
//         border:none;
//         outline:none;
//         align-items:center;
//         justify-content:center;
//         z-index:2;
//         &:hover,&:focus{
//           outline:none;
//           background:transparent;
//           color:transparent;
//           &:before{
//             opacity:1;
//           }
//         }
//         &.swiper-button-disabled{
//           &:before{
//             opacity:0.35;
//           }
//         }
//         &:before{
//           font-family:'Font Awesome 5';
//           font-weight:900;
//           font-size:1.75rem;
//           line-height:1;
//           color:map-get($btn-colors, info);
//           opacity:0.75;
//           display:inline-block;
//           font-style:normal;
//           font-variant:normal;
//           text-rendering:auto;
//         }
//         &-prev{
//           left:0;
//           right:auto;
//           &:before{
//             content: "\f100";
//           }
//         }
//         &-next{
//           right:0;
//           left:auto;
//           &:before{
//             content: "\f101";
//           }
//         }
//       }
//       [dir="rtl"] .swiper-button-prev,
//       .swiper-rtl .swiper-button-prev{left:auto;right:0;}
//       [dir="rtl"] .swiper-button-prev:before{content: "\f100";}
//       [dir="rtl"] .swiper-button-next,
//       .swiper-rtl .swiper-button-next{left:0;right:auto;}
//       [dir="rtl"] .swiper-button-next:before{content: "\f101";}
//       .swiper-wrapper{
//         display:flex;
//         flex-direction:row;
//         overflow:hidden;
//         position:relative;
//         transition-property:transform;
//         transform:translate3d(0,0,0);
//         &:focus{
//           outline:none;
//         }
//         .swiper-slide{
//           flex-shrink:0;
//           width:100%;
//           height:100%;
//           position:relative;
//           transition-property:transform;
//           .card{
//             position:relative;
//             margin: 0 $sp-xs;
//             padding: $sp-xs;
//             border:1px solid map-get($bg-green,02);
//             transition:all 0.3s ease-in-out;
//             z-index:1;
//             &:hover{
//               cursor:pointer;
//               transform:translateY(0px);
//             }
//             .step{
//               font-size:$font-size-xs;
//               display:flex;
//               flex-direction:row;
//               span:first-child{
//                 font-size:$font-size-xs;
//                 color:$gray-500;
//                 display:flex;
//                 align-items:center;
//                 padding-right:$sp-xxs;
//               }
//               .stepName{
//               text-transform:uppercase;
//               color:$gray-700;
//             }
//            }//step end
//             .completionRate{
//               line-height:$line-height-semi;
//               display:flex;
//               align-items:center;
//               flex-direction:row;
//               padding-top:$sp-xs;
//               span:first-child{
//                 font-size:$h4-font-size;
//                 align-items:center;
//                 display:flex;
//                 font-weight:bold;
//                 max-width:5rem;
//                 overflow:hidden;
//                 margin-right:$sp-sm;
//               }
              
//             }//completionRate end
//             .progressbar{
//               &.p-slider{
//                 position:absolute;
//                 left:0;
//                 bottom:0;
//                 width:100%;
//                 height: 0.286rem;
//                 background: map-get($bg-green,02);
//                 border:0;
//                 border-radius: 0 0 $radius-sm $radius-sm;
//                 .p-slider-range{
//                   background: map-get($bg-green,05);
//                   height:100%;
//                   position:absolute;
//                   display:block;
//                   //width:50%;/*假資料 有程式時要移除*/
//                 }
//               }
              
//             }//progressbar end   
//           }
//         }
        
//       }
//     }
//   }
// }//rateSlider end

// //要蓋過去
// .content .main .cardGroup .swiper-slide .card{
//   position:relative;
//   margin:0 $sp-xs;
//   padding:$sp-xs;
// }


// /*----------------------old pages cover 蓋過 調整舊頁面框架----------------*/
// .frame{
//   .card{
//     .p-card{
//       box-shadow:none;
//       border:0;
//       &.p-component{
//         width:100%;
//         height:100%;
//         .p-card-body{
//           height:100%;
//           padding:0;
//           .p-card-content{
//             height:100%;
//             padding:0.5rem 0;
//           }
//         }
//       }
//     }
//     &.chart{
//       .p-card{
//         .p-card-contnet{
//           height:100%;
//           padding:0;
//         }
//       }
//     }
//   }
// }

// .content{
//   .main{
//     .frame{
//       .cardGroup{
//         .card{
//           padding:.5rem 0;
//           &:last-child{
//             margin-bottom:0;
//           }
//           &.chart{
//             /* position: relative;*/
//             margin:0;
//             padding:0;
//             height:calc(100vh - 138px);
//             width:100%;
//             & > div{
//               margin: 30px 0 0 0;
//               width:100%;
//               height:100%;
//             }
//           }
//           iframe{
            
            
//             height:calc(100vh - 52px);
//             width:100%;
//             border:0;
//           }
//         }
//       }
//     }
//   }
// }
// //從1073開始沒有同步 是要蓋過去的硬寫
// .p-checkbox .p-checkbox-box.p-highlight{
//   border-color: map-get($btn-colors, success);
//   background: map-get($btn-colors, success);
// }
// .btn-primary{
//   border-color: map-get($btn-colors, info) !important;
//   background: map-get($btn-colors, info) !important;
//     &:hover{
//     border-color: map-get($bg-green, 02) !important;
//     background: map-get($bg-green, 02) !important;
//   }
// }
// .generate{
//   color:$gray-700;
//   font-size:$h4-font-size;
//   letter-spacing:1px;
//   line-height:$headings-line-height;
//   font-family: "Roboto", sans-serif;
//   display:block;
//   position:relative;
//   margin-bottom:1.5rem;
//   margin-left:1rem;
//   &:after{
//     display:block;
//     content:"";
//     position:absolute;
//     width:2.5rem;
//     height:2px;
//     background: map-get($btn-colors, info);
//     margin-top:0.3em;
//   }
//     & + h6{
//       color:map-get($bg-green, 08);
//       margin-bottom:2.5rem;
//       margin-left:1rem;
//     }
// }
